* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
}

#map {
  flex: 1;
  height: 100%;
}

.checkboxLabel {
  font-size: 11px;
  display: flex;
  align-items: center;
}

.checkboxLabel span {
  margin-left: 5px;
}

input[type="number"] {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 4px 10px;
  outline: none;
  margin: 5px 0;
}

input[disabled] {
  background: #f5f5f5;
}
