#loading {
  top: 0;
  font-size: 10px;
  font-weight: bold;
  opacity: 1;
  position: absolute;
  right: 0;
  transition: opacity 0.5s;
  z-index: 1000;
  padding: 5px;
  background: black;
  color: #fff;
  border-radius: 0 0 0 10px;
}

#loading.fadeout {
  opacity: 0;
}