#drawer {
  height: 100%;
  background-color: white;
  width: 10px;
  transition: width 0.5s;  
  cursor: pointer;

  /* 
    In order to show the box shadow we have to increase the z-index
    because leaflet has some very arbitrary ones defined.
  */
  z-index: 100000;
  box-shadow: -2px 0 15px -1px #444;
}

#drawer h4 {
  margin: 8px 0 2px;
}

#drawer hr {
  margin-top: 5px;
}

#drawer label {
  font-size: 11px;
}

#drawer .content {
  padding: 20px 15px 15px;
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 0;
}

#drawer.open .content {
  opacity: 1;
  transition-delay: 0.25s;
}

#drawer.open {
  width: 300px;
  cursor: default;
}

#drawer .close {
  font-weight: bold;
  font-family: monospace;
  display: none;
}

#drawer.open .close {  
  display: block;
  float: right;
  margin: 5px 10px;
  cursor: pointer;
}

#drawer .controlGroup {
  margin-bottom: 10px;
}
