.colorpicker {
  align-items: center;
  position: absolute;
  border: 1px solid #d0d0d0;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.colorSample {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.buttonContainer label {
  flex: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.colorPickerButton {
  cursor: pointer;
  background: #e3e3e3;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  height: 20px;
  margin-left: 10px;
  width: 150px;
}

.colorPickerButton:hover {
  border-color: #d0d0d0;
}

.colorIndicator {
  height: 5px;
  margin: auto;
  width: 70%;
  margin-top: 7px;
}
