.slider {
  display: flex;
  align-items: center;
}

/* TODO: style native control */
.slider input[type="range"] {
  flex: 2;
}

.slider label {
  font-size: 11px;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}

.slider label.labelFlex {
  flex: 1;
}

.slider span {
  font-size: 10px;
  margin-left: 5px;
}

.slider span.hidden {
  display: none;
}
